$color-green: #26a69a;
$color-green-dark: #004d40;

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  background: url(/chalkboard.jpg) 0 0 repeat;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  align-items: center;
}

.page-container {
  flex: 1 0 auto;
  width: 90vw;
}

code, pre, .code {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  color: #ccc;
}

pre[class*=language] {
  overflow: hidden;
  background: transparent;
  font-family: 'Inconsolata', monospace;
  .line-highlight {
    display: none;
  }
}

strong {
  font-weight: 600;
}

.list-plain {
  list-style: none;
  padding: 0;
}

.horizontal {
  display: flex;
}

nav.site-nav {
  background: $color-green;
  a {
    border: none;
    cursor: pointer;
    &.active {
      background: transparentize($color-green-dark, .7);
    }
  }
}

nav.main-nav {
  background: none;
  box-shadow: none;
  li.active button {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
    color: $color-green-dark;
  }
}

.btn {
  text-transform: none;
  padding: 0 10px;
}

a {
  color: $color-green;
  border-bottom: 1px solid;
}

figure {
  max-width: 100%;
  text-align: center;
  figcaption {
    text-align: right;
    display: block;
    margin-top: 10px;
    color: $color-green;
    font-size: 12px;
  }
}
img {
  margin: 5px;
  max-width: 100%;
}

.info-container {
  position: relative;
  .info-button {
    display: block;
    width: 30px;
    height: 30px;
    background: $color-green;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    border: none;
    font-family: 'Inconsolata', monospace;
  }
  .info {
    position: absolute;
    top: 0;
    left: 50px;
    margin: -10px 0 0;
    line-height: 30px;
    background: #ccc;
    color: $color-green-dark;
    border-radius: 5px;
    padding: 10px;
    transform: scaleX(1);
    transform-origin: left;
    transition: all .5s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      border-color: transparent #ccc transparent transparent;
      border-style: solid;
      border-width: 10px;
    }
    &.info-hidden {
      transform: scaleX(0);
    }
    code, a {
      color: $color-green-dark;
    }
  }
}

table {
  margin-bottom: 30px;
  thead,
  tbody {
    border-bottom: 1px solid #d0d0d0;
  }
}

.pagination,
.main-nav ul {
  justify-content: space-between;
  padding: 20px 0;
}

.pagination {
  li {
    padding-right: 0;
    padding-left: 0;
    &.active {
      background: none;
      button {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
        color: $color-green-dark;
      }
    }
  }
  button {
    background: $color-green;
    border: none;
    box-shadow: none;
    border-radius: 3px;
  }
}

blockquote {
  border-color: $color-green;
  color: #ccc;
  &:after {
    content: "(" attr(cite) ")";
    text-align: right;
    display: block;
    margin-top: 10px;
    color: $color-green;
    font-size: 12px;
  }
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  max-width: 90vw;
}

.colophon {
  justify-content: center;
  li + li {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid;
  }
}

.listing li {
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 20px;
}
