@import 'variables';
.blogposts {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-text-light-theme;
}
.newsitem {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border: none;
  color: $color-text-light-theme;
  width: 60vw;
  &, & * {
    transition: all .3s ease-in-out;
  }
  &:hover, &:focus {
    h4 {
      border-color: $color-green;
    }
    figure {
      box-shadow: 0 0 10px rgba(0,0,0, .2);
    }
  }
  .col {
    flex: 1 1 30rem;
  }
  h4 {
    font-size: 1.375rem;
    margin: 0;
    border-bottom: 2px solid transparent;
    display: inline-block;
  }
  .date {
    color: $color-gray;
  }
  figure {
    margin: 0 20px 0 0;
    max-height: 100%;
    flex: 1 1 15rem;
    img {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0;
      object-fit: contain;
      object-position: center;
    }
  }

  @include media-query-max($breakpoint-tablet-portrait) {
    width: 100%;
  }
}
