.list-plain {
  list-style: none;
  padding: 0;
}

.horizontal {
  display: flex;
}

.listing li {
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  li {
    margin: 5px;
  }
  a .icon {
    width: 40px;
    height: 40px;
    text-decoration: none;
    display: block;
    object-fit: contain;
  }
}
