@import 'variables';
@import 'global';
@import 'lists';
@import 'code';
@import 'navigation';

.page-container {
  width: 90vw;
  flex: 1 0 auto;
}

.logo {
  display: block;
  margin: 30px auto;
}

.btn {
  text-transform: none;
  padding: 0 10px;
}

.info-container {
  position: relative;
  .info-button {
    display: block;
    width: 30px;
    height: 30px;
    background: $color-green;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    border: none;
    font-family: 'Inconsolata', monospace;
  }
  .info {
    position: absolute;
    top: 0;
    left: 50px;
    margin: -10px 0 0;
    line-height: 30px;
    background: #ccc;
    color: $color-green-dark;
    border-radius: 5px;
    padding: 10px;
    transform: scaleX(1);
    transform-origin: left;
    transition: all .5s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      border-color: transparent #ccc transparent transparent;
      border-style: solid;
      border-width: 10px;
    }
    &.info-hidden {
      transform: scaleX(0);
    }
    code, a {
      color: $color-green-dark;
    }
  }
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colophon {
  justify-content: center;
  li + li {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid;
  }
}
