<template name="about">
  <section>
    <h2>Who is Girl Code</h2>
    <p>We are an initiative started at <a href="//q42.com">Q42</a> back in 2015. Girl Code is an initiative to inspire girls of all ages to get into code. We also aim to raise awareness of the gender gap in tech. We think the world of software engineering can only benefit from having more women on board and creating a more diverse field. We are: <a href="#ineke">Ineke</a>, <a href="#katja">Katja</a> and <a href="#kristin">Kristin</a>.</p>
    <p>Professional coders aren’t necessarily male. That is what we see as an undeniable fact, but also as a statement we want to enforce in the real world.</p>
    <p>We hope you'll join us in making this difference. You can become a member of our <a href="meetup.com/girlcode">Meetup group</a>, <a href="https://twitter.com/girlcodenl">follow us on Twitter</a> and like our <a href="https://www.facebook.com/GirlCodeNL/">page on Facebook</a>.</p>
    <p>Interested in speaking or mentoring at any of the following events? Have a topic you think we should discuss or bring into light? Please <a href="meetup.com/girlcode">contact us via Meetup</a>,<a href="https://twitter.com/GirlCodeNL">Twitter</a> or <a href="https://www.facebook.com/GirlCodeNL/">Facebook</a> or <a href="mailto:kristin@q42.nl">send us an email</a>.</p>
  </section>
  {{> aboutPersons}}
  {{> aboutEvents}}
</template>
