<template name="aboutEvents">
  <section>
    <h2>What we do</h2>
    <p>Since our start in June 2015, we've organized various events, from meetups with talks to workshops and giving lessons to schoolgirls.</p>
    <p>We try to have events as often possible, ideally every month.</p>
    <p>Below you can see an overview of our activities.</p>
    <ul class="horizontal gallery">
      <li>
        <figure>
          <img src="/meetups/firstmeetup.jpeg" alt="">
          <figcaption>The first meetup, june 2015</figcaption>
        </figure>
        <p class="description">An inspiring night with talks and demos from four professional Girl Coders, a talk by Lieke Boon, and a very enthusiastic attendance by all sorts of Girl Coders from Girls in Tech's and our own network.</p>
      </li>
      <li>
        <figure>
          <img src="/meetups/girlcodenerdsstage.jpeg" alt="">
          <figcaption>GirlCode at Nerds on Stage, december 2015</figcaption>
        </figure>
        <p class="description">Nerds on Stage, a yearly tech event for Dutch high school students, describes itself as 'A place to meet the brightest minds in technology and creativity'. So when we were asked to give two mini lectures there, we simply couldn't refuse. And we're glad we didn't, because we had a blast!</p>
      </li>
      <li>
        <figure>
          <img src="/meetups/girlcodemeetsmeteor.png" alt="">
          <figcaption>GirlCode meets Meteor, february 2016</figcaption>
          <p class="description">To shake things up a bit we organized a hands-on coding meetup instead of just talks. During Girl Code meets Meteor everyone built their own version of Tic Tac Toe in the good company of other Girl Coders and Meteor tutors.</p>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/meetups/girlcodemeteorrerun.jpeg" alt="">
          <figcaption>GirlCode meets meteor, rerun, march 2016</figcaption>
          <p class="description">A rerun like on tv and as good as any good old Friends rerun. We wanted to offer a second chance to attend this meetup at our Amsterdam office. 50(!) of you did. So the world has gained 50 extra special awesome games of Tic Tac Toe. Wow!</p>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/meetups/girlcodegirlsday.jpeg" alt="">
          <figcaption>GirlCode meets Girlsday, april 2016</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/meetups/girlcodenightnerds.jpeg" alt="">
          <figcaption>GirlCode at Night of the Nerds, may 2016</figcaption>
        </figure>
        <p class="description"></p>
      </li>
      <li>
        <figure>
          <img src="/meetups/girlcodevisionapi.jpg" alt="">
          <figcaption>GirlCode meets Google Vision API, june 2016</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/meetups/girlcodeiot.jpg" alt="">
          <figcaption>GirlCode meets Internet of Things, august 2016</figcaption>
        </figure>
      </li>
    </ul>
  </section>
</template>
