<template name="aboutPersons">
  <article class="about">
    <section id="ineke" class="bio">
      <h3>Ineke</h3>
      <figure>
        <img src="/ineke.gif" alt="">
        <figcaption>This is Ineke</figcaption>
      </figure>
      <p>Ineke is the founder of Girl Code. With a Masters in New Media and a background in Gender Studies, she has always been fascinated by both code and equality. With Girl Code she can combine both.</p>
      <blockquote cite="https://inekescheffers.com">I think the world of code is unnecessarily divided. And because I feel knowing how to code gives you superpowers, I think more women should be learning and doing it.</blockquote>
      <p>Because she doesn't only wants to write about tech and code anymore, but build it herself, she is putting her money where her mouth is and started the Full-Stack Web Development with JavaScript course by NYCDA at BSSA in September 2016.</p>
    </section>
    <section id="katja" class="bio">
      <h3>Katja</h3>
      <figure>
        <img src="/katja.gif" alt="">
        <figcaption>This is Katja</figcaption>
      </figure>
      <p>Katja is also a founder of Girl Code. Being a web developer who made a shift from studying and teaching human languages, she believes there is a huge gender gap in the programming field. She feels this must be bridged by inspiring more women to join this profession.</p>
      <blockquote cite="https://netherlands.girlsintech.org/2015/07/08/junes-girl-of-the-month-katja-hollaar/">It must become less obvious that girls choose the humanities over mathematics, and vice versa.</blockquote>
      <p>By giving talks, organizing events, and mentoring others, Katja hopes to raise awareness of the often unsconsious predisposition of women not to choose a living in this male-dominated industry.</p>
    </section>
    <section id="kristin" class="bio">
      <h3>Kristin</h3>
      <figure>
        <img src="/kristin.gif" alt="">
        <figcaption>This is Kristin</figcaption>
      </figure>
      <p>Kristin studied Mathematics and Artificial Intelligence at the University Twente and the University of Amsterdam. She is passionate about coding, because it enables her to create everything she can possibly think of. And she thinks of a lot!</p>
      <blockquote cite="Kristin self">I've always been and felt like one of the guys. But in reality it turned out there was still a too big of a difference. I noticed that being one of the then only three women at the office programming. That was my reason to organize Girl Code.</blockquote>
      <p>In the meantime it has become her personal mission to close the gender gap in the world of code as a whole. Kristin is a back-end developer at <a href="//q42.com">Q42</a> and works on awesome projects for Philips hue.</p>
    </section>
  </article>
</template>
