<head>
  <title>Vision API tutorial</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Inconsolata|Amatic+SC:400,700">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  {{> nav}}
  <main>
    <div class="page-container">
      {{> content}}
    </div>
    {{> siteFooter}}
  </main>
</body>

<template name="content">
  {{> Template.dynamic template=content}}
</template>

<template name="welcome">
  <header class="home-header">
    <img src="/images//logo-girlcode.png" alt="GirlCode" class="logo">
    <h1>Welcome to Girl Code</h1>
  </header>
  <blockquote class="markedup floating"  cite="http://www.ncwit.org/resources/women-it-facts-infographic-2015-update">Women aged 25-34 are reporting <strong>greater dissatisfaction</strong> with their carreer prospects. These women cite <strong>unsupportive work environments</strong>, a lack of inspiring role models, and sacrifices in their personal lives that outweigh personal gains.</blockquote>
  <p>Girl Code is an initiative started at <a href="q42.com">Q42</a> in 2015. Now Girl Code is an independent community to inspire girls of all ages to get into code or stay into code. We also aim to raise awareness of the gender gap in tech, so boys are welcome too! We think the world of software engineering can only benefit from having more women on board and creating a more diverse field.</p>
  <p>Professional coders aren't necessarily male. That is what we see as an undeniable fact, but also as a statement we want to enforce in the real world. That's why we hope you'll join us in making this difference.Research points out that diversity in the workspace can lead to a more productive and efficient work environment.</p>

  <p>We see it as our mission to break this vicious circle, help women to get into programming and have better carreer opportunities.</p>
  <h2>Where to find us</h2>
  <p>Want to host our next meetup? Interested in speaking or mentoring at any of the following events? Have a topic you think we should discuss or bring to light? Feel free to contact us anytime! Please join us on social media so that together we can make a difference!</p>
  <ul class="social-links">
    <li>
      <a href="https://www.meetup.com/girlcode/">
        <img class="social-button-footer icon" src="/button_meetup.png">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/GirlCodeNL">
        <img class="social-button-footer icon" src="/button_twitter.png">
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/GirlCodeNL/">
        <img class="social-button-footer icon" src="/button_facebook.png">
      </a>
  </li>
  </ul>
</template>
