<template name="nav">
  <nav class="site-nav">
    <img src="/images//logo-girlcode.png" alt="GirlCode" class="logo">
    <ul>
      <li><a class="{{activeClass 'welcome'}}" href="/">Home</a></li>
      <li><a class="{{activeClass 'about'}}" href="/about">About</a></li>
      <li><a class="{{activeClass 'aboutEvents'}}" href="/aboutEvents">Events</a></li>
      <li><a class="{{activeClass 'tutorials'}} has-subnav dropdown-button" data-activates="subnav" href="/tutorials">Tutorials</a>
        <ul id="subnav" class="subnav">
          <li><a class="{{activeClass 'tictactoe-tutorial'}}" href="/tutorials/tictactoe-tutorial">Tictactoe</a></li>
          <li><a class="{{activeClass 'vision-api-tutorial'}}" href="/tutorials/vision-api-tutorial">Vision API</a></li>
        </ul>
      </li>
      <li><a class="{{activeClass 'allslides'}}" href="/allslides">Slides</a></li>
      <li><a class="{{activeClass 'blog'}}" href="/blog">Blog</a></li>
      <li><a href=""></a></li>
    </ul>
  </nav>
</template>
