<template name="allslides">
  <section>
    <h2>Here you can find slides of the talks that were given at our events</h2>
    <figure>
    <embed src="//www.slideshare.net/slideshow/embed_code/key/eV7KmxZvXKakwM" width="595" height="485" allowfullscreen>
      <figcaption>
        <a href="//www.slideshare.net/afkatja/girl-code-talk-24th" title="Girl code talk June 24th 2015" target="_blank">WYSIWYG: Augmenting Content of Digital Books in Schooltas</a> by <a target="_blank" href="//www.slideshare.net/afkatja">Katja Hollaar</a>
      </figcaption>
    </figure>
    <figure>
      <embed src="http://www.slideshare.net/kriepy/philips-presentation-50083068" width="595" height="485" allowfullscreen>
      <figcaption>Building Light: The Architecture of Philips Hue by <a href="http://www.slideshare.net/kriepy/" target="_blank">Kristin Rieping</a></figcaption>
    </figure>
    <figure>
      <embed src="https://speakerdeck.com/lieke22/girs-in-tech-talk-at-q42-amsterdam" width="595" height="485" allowfullscreen>
      <figcaption>Girl Code talk June 24th 2015 by Lieke Boon on uncuncious bias</figcaption>
    </figure>
    <figure>
      <embed src="http://www.slideshare.net/Felienne/a-board-game-night-with-geeks-attacking-quarto-ties-with-sat-solvers" width="595" height="485" allowfullscreen>
        <figcaption>A Board Game Night With Geeks by <a href="http://www.slideshare.net/Felienne">Felienne Hermans</a> </figcaption>
    </figure>
    <figure>
      <embed src="https://speakerdeck.com/erikaheidi/smashing-pixels-with-imanee" width="595" height="485" allowfullscreen>
        <figcaption>Smashing Pixels with Imanee by <a href="http://www.slideshare.net/erikaheidi">Erika Reinaldo</a> </figcaption>
    </figure>

    <figure>
      <embed src="http://www.slideshare.net/inekescheffers/nerds-on-stage-q42-girl-code" width="595" height="485" allowfullscreen>
        <figcaption>Girl Code @ Nerds on Stage</figcaption>
    </figure>

    <figure>
      <embed src="https://drive.google.com/file/d/0B04GR_dBvRPWTjJBb01qREo5WDA/view?usp=sharing" width="595" height="485" allowfullscreen>
        <figcaption>Girl Code meets Meteor</figcaption>
    </figure>

    <figure>
      <embed src="TODO" width="595" height="485" allowfullscreen>
        <figcaption>Girl Code meets Google Vision API</figcaption>
    </figure>

    <figure>
      <embed src="http://www.slideshare.net/inekescheffers/girl-code-meets-iot" width="595" height="485" allowfullscreen>
        <figcaption>Girl Code meets IOT by <a href="http://www.slideshare.net/inekescheffers">Ineke Scheffers</a></figcaption>
    </figure>

    <figure>
      <embed src="http://www.slideshare.net/inekescheffers/how-neural-networks-can-make-a-drone-your-next-best-friend" width="595" height="485" allowfullscreen>
        <figcaption>How neural networks can make a drone your next best friend by Tessie Hartjes and Iris Huijben from Blue Jay Eindhoven</figcaption>
    </figure>

    <figure>
      <embed src="http://www.slideshare.net/afkatja/girlcode-meets-internet-of-things-connected-hula-hoop" width="595" height="485" allowfullscreen>
        <figcaption>Hooli: Building a Connected Hoola Hoop by <a href="http://www.slideshare.net/afkatja">Katja Hollaar</a></figcaption>
    </figure>

    <figure>
      <embed src="https://student.lessonup.io/lesson/gGnZZ9C5S9ft9RKyG" width="595" height="485" allowfullscreen>
        <figcaption>LoRa, IOT-projects and a poll by Kristin Rieping</figcaption>
    </figure>
  </section>
</template>
