<template name="allslides">
  <section>
    <h2>Here you can find slides of the talks that were given at our events</h2>
    <figure>
    <embed src="//www.slideshare.net/slideshow/embed_code/key/eV7KmxZvXKakwM" width="595" height="485" allowfullscreen>
      <figcaption>
        <a href="//www.slideshare.net/afkatja/girl-code-talk-24th" title="Girl code talk June 24th 2015" target="_blank">Girl code talk June 24th 2015</a> from <a target="_blank" href="//www.slideshare.net/afkatja">Katja Hollaar</a>
      </figcaption>
    </figure>
    <figure>
      <embed src="/talk-LiekeBoon.pdf" type="application/pdf" width="595" height="485" allowfullscreen>
      <figcaption>Girl Code talk June 24th 2015 by Lieke Boon on uncuncious bias</figcaption>
    </figure>
    <figure>
      <embed src="//www.slideshare.net/slideshow/embed_code/key/eRBzlMXQsPAi0L" type="" width="595" height="485" allowfullscreen>
      <figcaption><a href="//www.slideshare.net/afkatja/girlcode-meets-internet-of-things-connected-hula-hoop" title="Connected hula hoop" target="_blank">GirlCode meets Internet of Things: Connected hula hoop</a> from <a target="_blank" href="//www.slideshare.net/afkatja">Katja Hollaar</a></figcaption>
    </figure>

    <figure>
      <embed src="//www.slideshare.net/slideshow/embed_code/key/5FT3a5vFBL5yQa" type="" width="595" height="485" allowfullscreen>
      <figcaption><a href="//www.slideshare.net/inekescheffers/girl-code-meets-iot" title="Girl code meets IOT" target="_blank">Girl code meets IOT</a> from <a target="_blank" href="//www.slideshare.net/inekescheffers">Ineke Scheffers</a></figcaption>
    </figure>

    <figure>
      <embed src="//www.slideshare.net/slideshow/embed_code/key/2B09vQINeYqMQi" type="" width="595" height="485" allowfullscreen>
      <figcaption><a href="//www.slideshare.net/inekescheffers/how-neural-networks-can-make-a-drone-your-next-best-friend" title="How neural networks can make a drone your next best friend" target="_blank">How neural networks can make a drone your next best friend, by Tessie Hartjes and Iris Huijben</a></figcaption>
    </figure>
  </section>
</template>
